* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  background: #131416;
  background: radial-gradient(
    circle,
    rgba(19, 20, 22, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 100%;
  height: 100%;
  z-index: -1;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#controller {
  margin: 20px 0 0 20px;
}

#open-file {
  margin-bottom: 5px;
  color: #e7a167;
}

#start {
  padding: 5px 50px;
  display: block;
}
